.page-404 {
  text-align: center;
}

.title-404 h1 {
  background-color: #3f77f6;
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  padding: 12px;
  border-radius: 20px;
  font-family: sans-serif;
}
